.stateResults {
  font-size: 1.5vw;
  background-color: #d7d9da;
  background-image: url(../images/bg_body.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 1em 0;
  .container-fluid {
    padding: 0 2em;
  }
  .stateResults-header {
    margin-bottom: 12em;
    .stateResults-dateID {
      text-align: right;
      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0.5em;
        li {
          display: inline-block;
          vertical-align: middle;
          border-radius: 3em;
          background: #f3f3f3;
          margin-left: 0.8em;
          .txt-title {
            display: inline-block;
            border-radius: 3em;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;
            line-height: 1;
            color: #000;
            text-transform: uppercase;
            background: #fff;
            padding: 0.8em 1em;
          }
          .txt-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 1.2em;
            line-height: 1;
            color: #000;
            text-transform: uppercase;
            padding: 0 0.5em;
          }
        }
      }
      .quoted {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 0.9em;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
      }
    }
    .stateResults-logo {
      max-width: 65%;
      padding-left: 8em;
      margin-top: -1.5em;
      img {
        width: 100%;
        margin-left: -2em;
      }
    }
  }
  .stateResults-content {
    .heading-lg {
      margin-bottom: 1.5em;
      .lg {
        display: block;
        font-family: 'Baloo Tammudu 2', cursive;
        font-weight: bold;
        font-size: 6.5em;
        color: #e26240;
        text-transform: uppercase;
        margin-bottom: -0.6em;
      }
      .md {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        line-height: 1;
        color: #000;
        text-transform: uppercase;
      }
    }
    .box-point-intro {
      max-width: 80%;
      margin-bottom: 3em;
      .row-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -1em;
        > * {
          padding: 0 1em;
        }
      }
      .candidate-name {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1.5em;
        .inner-name {
          border-radius: 3em;
          background: #f3f3f3;
        }
        .txt-title {
          display: inline-block;
          border-radius: 3em;
          font-family: 'Montserrat', sans-serif;
          font-size: 1.5em;
          line-height: 1;
          color: #000;
          text-transform: uppercase;
          background: #fff;
          padding: 0.8em;
        }
        .txt-name {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 1.5em;
          line-height: 1;
          color: #000;
          text-transform: uppercase;
          padding: 0 0.5em;
        }
      }
      .box-point {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        .inner-box-point {
          border-radius: 2em;
          background: #fff;
          padding: 1em;
        }
        .txt-point {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 1.4em;
          line-height: 1;
          color: #000;
          text-transform: uppercase;
          margin-bottom: 0.3em;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            vertical-align: middle;
            width: 4em;
            padding: 0 0.2em;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .box-contents {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .item {
          margin-bottom: 3em;
          &:nth-child(1) {
            .box-img {
              padding-top: 4em;
            }
          }
          &:nth-child(2) {
            .box-detail {
              padding-top: 1.5em;
            }
          }
          .row-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            > * {
              width: 100%;
            }
          }
          .box-detail {
            flex: 0 0 90%;
            max-width: 90%;
            padding-right: 2em;
            .txt-title {
              font-family: 'Montserrat', sans-serif;
              font-weight: 900;
              font-size: 1.3em;
              font-style: italic;
              color: #733901;
              margin-bottom: 0.3em;
            }
            .txt {
              font-family: 'Montserrat', sans-serif;
              font-weight: 600;
              font-size: 1.3em;
              color: #000;
            }
          }
          .box-img {
            flex: 0 0 10%;
            max-width: 10%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}