.con-stateResults {
  margin-top: 70px;
}
.con-stateResults.nodownload {
  margin-top: 0;
}
.stateResults {
  background: rgb(204,205,206);
background: linear-gradient(180deg, rgba(204,205,206,1) 0%, rgba(228,229,229,1) 55%, rgba(233,234,235,1) 100%);
  /*zoom: 63%;*/
  
  position: relative;
}
.stateResults::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-image: url(../images/bg_body.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.stateResults {
  padding: 10px 0;
  max-width: 760px;
  max-height: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.stateResults .container-fluid {
  padding: 0 2em;
}
.stateResults .stateResults-header {
  /*margin-bottom: 8em;*/
}
.stateResults .stateResults-header .stateResults-dateID {
  text-align: right;
}
.stateResults .stateResults-header .stateResults-dateID ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5em;
  display: flex;
  justify-content: flex-end;

}
.stateResults .stateResults-header .stateResults-dateID ul li {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3em;
  background: #062c51;
  margin-left: 0.8em;
  height: 30px;
  width: 150px;
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stateResults .stateResults-header .stateResults-dateID ul li .txt-title {
  display: inline-block;
  border-radius: 3em;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  background: #01132d;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 60px;
}
.stateResults .stateResults-header .stateResults-dateID ul li .txt-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0.5em;

}
.stateResults .stateResults-header .stateResults-dateID .quoted {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 8px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.stateResults .stateResults-header .stateResults-logo {
  max-width: 65%;
  padding-left: 80px;
  margin-top: -10px;
  margin-bottom: 100px;
}
.stateResults .stateResults-header .stateResults-logo img {
  width: auto;
}
.stateResults .stateResults-content .heading-lg {
  margin-bottom: .5em;
  margin-left: 90px;
}
.stateResults .stateResults-content .heading-lg .lg {
  display: block;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: bold;
  font-size: 46px;
  color: #e26240;
  text-transform: uppercase;
  margin-bottom: -0.6em;
}
.stateResults .stateResults-content .heading-lg .md {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
}
.stateResults .stateResults-content .box-point-intro {
  max-width: 70%;
  margin-bottom: 10px;
}
.stateResults .stateResults-content .box-point-intro .row-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1em;
}
.stateResults .stateResults-content .box-point-intro .row-wrapper > * {
  padding: 0 1em;
}
.stateResults .stateResults-content .box-point-intro .candidate-name {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.stateResults .stateResults-content .box-point-intro .candidate-name .inner-name {
  border-radius: 3em;
  background: #f3f3f3;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding-left: 80px;
}
.stateResults .stateResults-content .box-point-intro .candidate-name .txt-title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  bottom: -3px;

}
.stateResults .stateResults-content .box-point-intro .candidate-name .txt-title img{
  border-radius: 50%;
  border: 3px solid #fff;
}
.stateResults .stateResults-content .box-point-intro .candidate-name .txt-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  padding: 0 0.25em;
}
.stateResults .stateResults-content .box-point-intro .box-point {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.stateResults .stateResults-content .box-point-intro .box-point .inner-box-point {
  border-radius: 1em;
  background: #fff;
  padding: 1em;
}
.stateResults .stateResults-content .box-point-intro .box-point .txt-point {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.stateResults .stateResults-content .box-point-intro .box-point ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stateResults .stateResults-content .box-point-intro .box-point ul li {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  padding: 0 5px;
}
.stateResults .stateResults-content .box-point-intro .box-point ul li img {
  width: 100%;
}
.stateResults .stateResults-content .box-point-intro .box-point ul li.lighter img {
  opacity: 0.3;
}
.stateResults .stateResults-content .box-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stateResults .stateResults-content .box-contents ul .item {
  margin-bottom: 10px;
}
.stateResults .stateResults-content .box-contents ul .item:nth-child(1) .box-img {
  padding-top: 1em;

}
.stateResults .stateResults-content .box-contents ul .item:nth-child(2) .box-detail {
  padding-top: 10px;

}
.stateResults .stateResults-content .box-contents ul .item:nth-child(2) .box-img img {
  margin-top: -20px;

}
.stateResults .stateResults-content .box-contents ul .item:nth-child(3) {
  margin-bottom: 0;

}

.stateResults .stateResults-content .box-contents ul .item .row-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.stateResults .stateResults-content .box-contents ul .item .row-wrapper > * {
  width: 100%;
}
.stateResults .stateResults-content .box-contents ul .item .box-detail {
  flex: 0 0 90%;
  max-width: 90%;
  padding-right: 2em;
}
.stateResults .stateResults-content .box-contents ul .item .box-detail .txt-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10px;
  font-style: italic;
  color: #733901;
  margin-bottom: 0.3em;
}
.stateResults .stateResults-content .box-contents ul .item .box-detail .txt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
.stateResults .stateResults-content .box-contents ul .item .box-img {
  flex: 0 0 10%;
  max-width: 10%;
}
.stateResults .stateResults-content .box-contents ul .item .box-img img {
  width: 100%;
  max-width: 60px;
}
.list-answer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
}

.list-answer li {
  background: rgb(243,112,104);
background: linear-gradient(90deg, rgba(243,112,104,1) 0%, rgba(254,131,106,1) 55%, rgba(255,144,104,1) 100%);
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%;
  position: relative;
  list-style: none;
  padding: 10px 25px;
  line-height: 150%;
  font-size: 10px;
}
.list-answer li span {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 7px;
  text-align: center;
  line-height: 34px;
  background: rgb(255,135,105);
background: linear-gradient(0deg, rgba(255,135,105,1) 0%, rgba(253,119,108,1) 100%);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 0.32);
box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 0.32);
font-size: 20px;
}

.box_social {
  position: absolute;
  top: 50%;
  right: 2vw;
}

.box_social ul {
  list-style: none;
}
.box_social ul li{
  list-style: none;
  display: block;
  margin-bottom: 1em;
  font-size: 10px;
  color: #fff;
  border-radius: 10px;
  font-family: 'Baloo Tammudu 2', cursive;
  width: 135px;
  height: 25px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
}
.box_social ul li span{ 
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  left: -5px;
  
}
.box_social ul li span img{ 
  border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 0.32);
box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 0.32);
}
.box_social ul li.face{
  background: #1976d2;
}
.box_social ul li.zalo{
  background: #009bf1;
}


.con-download {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #1c1c1c;
  z-index: 9999;
  color: #fff;
  /*zoom: 63%;*/
}
.con-download a {
  color: #fff;
}
.box-download {
  display: flex;
  justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 2em;
}
.box-download .st-title {
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}
.ic-close {
  margin-right: 20px;
}
.box-download .box_social {
  position: relative;
  top: 0;
  right: auto;
  height: 100%;
}
.box-download .box_social .list-social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.box-download .box_social .list-social li {
  margin: 0 15px;
  font-size: 16px;
  width: 230px;
  height: 35px;
  line-height: 40px;
  padding-left: 40px;
}
.box-download .box_social ul li span{ 
  position: absolute;
  top: 50%;
  width: 38px;
  height: 38px;
  margin-top: -19px;
  left: -5px;
  
}
.box-lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-lang a {
  border: 3px solid #ff9068;
  height: 49px;
  line-height: 60px;
  border-radius: 26px;
  margin: 0 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0 0.25em;
  display: flex;
  align-items: center;
}

.box-lang a img.lang {
  border-radius: 50%;
  
}
.box-lang a img {
  margin-right: 0.5em;
}
.box-lang a span {
  margin-top: 20px;
}