.performance02 {
  background: url(../images/bg_export2.jpg) top left;
  background-size: cover;
  position: relative;
}
.performance02::before {
  background: url(../images/bg_export2.jpg) top left;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  content: "";
  z-index: 0;
}

.performance {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.performance .table-content-top {
  position: relative;
  display: flex;
  justify-content: center;
}
.performance .table-content-top .featured {
  width: 55%;
  padding: 0 2vw;
}
.performance .table-content-top .performance-table__colleft {
  width: 45%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 2em;
}
.performance .table-content-top .performance-table__colleft .performance-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  width: 100%;
}
.performance .performance-comment__sub-title {
  font-size: 1.5em;
  text-align: left;
  font-weight: 900;
  margin-top: 40px;
}
.performance .footer-export2 {
  padding: 3vw 0;
}
.footer-export2-inner {
  margin-top: 30px;
}
.footer-export2-inner img {
  margin-right: 2vw;
  max-width: 150px;
  /*zoom: 65%;*/
}
.footer-export2-inner h3 {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}
.performance .performance-information ul {
  list-style: none;
  width: 70%;
}
.performance .performance-information ul li {
  font-size: 2.016vw;
  margin-bottom: 3vw;
}
.performance .performance-information ul li span.top {
  color: #733901;
  font-weight: 900;
  display: block;
}
.performance .performance-information ul li span.bottom {
  font-weight: normal;
  color: #000000;
}
.performance-logo {
  margin-bottom: 20px;
}
.performance-logo__background {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .performance-logo__background {
    max-width: 555px;
  }
}
@media (min-width: 1024px) {
  .performance-logo__background {
    max-width: 768px;
  }
}
.performance-logo__content {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
@media (min-width: 960px) {
  .performance-logo__content {
    top: 70px;
  }
}
@media (min-width: 1024px) {
  .performance-logo__content {
    top: 100px;
  }
}
.performance-logo__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .performance-logo__title {
    font-size: 15px;
  }
}
.performance-logo__sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .performance-logo__sub-title {
    font-size: 15px;
  }
}
.performance-title__inner {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .performance-title__inner {
    max-width: 555px;
  }
}
@media (min-width: 1024px) {
  .performance-title__inner {
    max-width: 768px;
  }
}
.performance-title__image {
  padding-bottom: 20px;
}
.performance-title__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.performance-title__line--left {
  height: 15px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.performance-title__line--right {
  height: 15px;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.performance-title__label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}
@media (min-width: 960px) {
  .performance-title__label {
    font-size: 36px;
  }
}
.performance-title__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.performance-title__button {
  padding: 5px 20px;
  border: 4px solid #f37b1b;
  border-radius: 45px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 0 5px 20px 5px;
}
.performance-title__button--name {
  width: 350px;
  text-align: center;
}
.performance-title__button--name {
  text-align: center;
}
.performance-title__button-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f37b70;
}
.performance-title__button-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px ;
  font-weight: bold;
  text-transform: uppercase;
}
.performance-title__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
.performance-table__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 40px;
}
.performance-table__col--left {
  position: relative;
  margin-right: 30px;
}
.performance-table__col--left table {
  position: absolute;
  top: 77px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
}
.performance-table__col--left table th {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  width: 189px;
  color: #f37b70;
}
.performance-table__col--left table th:last-child {
  padding: 5px 30px 5px 10px;
}
.performance-table__col--left table td {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 10px 11px 18px;
  width: 189px;
}
.performance-table__col--left table td:last-child {
  padding: 11px 25px 11px 10px;
}
.performance-table__contents,
.performance-table__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.performance-table__head1 {
  position: relative;
}
.performance-table__head1 img {
  width: 120px;
  height: 32px;
  margin-right: 15px;
}
.performance-table__head1-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 7px;
  left: 0;
  max-width: 150px;
  margin: 0 auto;
  padding: 0 10px;
  color: white;
}
.performance-table__head2,
.performance-table__head3,
.performance-table__head4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  max-width: 150px;
  margin-right: 10px;
}
.performance-table__content1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  max-width: 150px;
  margin-right: 60px;
  color: #f37b70;
}
.performance-table__content2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  max-width: 150px;
  margin-right: 40px;
  color: #f37b70;
}
.performance-table__content3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  max-width: 150px;
  margin-right: 10px;
  color: #f37b70;
}
.performance-level__inner {
  position: relative;
}
.performance-level__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 15px 0;
  color: #f37b70;
}
.performance-level__content {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.performance-level__table {
  position: absolute;
  top: 20px;
  width: 100%;
}
.performance-level__table1 {
  width: 100%;
}
.performance-level__table1 th {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #f37b70;
  padding: 0 10px;
}
.performance-level__table1 .performance-level__td--white td {
  color: white !important;
}
.performance-level__table1 td {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #f37b70;
  padding: 10px;
}
.performance-level__table2 {
  width: 100%;
}
.performance-level__table2 th {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #f37b70;
  padding: 5px 0 10px;
}
.performance-level__table2 .performance-level__td--white td {
  color: white !important;
}
.performance-level__table2 td {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #f37b70;
  padding: 10px 0;
}
.performance-comment {
  padding: 35px 0;
}
.performance-comment .performance-comment__inner {
  text-align: center;
}
.performance-comment .performance-comment__inner .performance-comment__title {
  font-size: 30px;
  color: #f37b70;
  font-weight: bold;
  text-transform: uppercase;
}
.performance-comment .performance-comment__inner p {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}
.performance-comment__table {
  padding: 5vw;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  margin: 1.5vw 0;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: block;
  content: "";
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  border: 4px solid #f37b70;
  border-radius: 25px;
  background: transparent;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table {
  top: 15px;
  left: 10px;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: auto;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table tr:last-child th::after,
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table tr:last-child td::after {
  display: none;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  width: 200px;
  height: 200px;
  position: relative;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th:after {
  position: absolute;
  bottom: -3px;
  left: 4px;
  display: block;
  content: "";
  width: calc(96%);
  height: 5px;
  background: url(../images/bg-line.png) no-repeat;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th .top {
  font-size: 56px;
  color: #f37b70;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th .top b {
  font-size: 28px;
  color: #f37b70;
  font-weight: bold;
  line-height: 30px;
  display: block;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th .bottom {
  display: block;
  font-size: 24px;
  color: #000;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th:last-child {
  padding: 5px 30px 5px 10px;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table td {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
  padding: 15px 18px;
  vertical-align: top;
  position: relative;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table td:last-child:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  display: block;
  content: "";
  height: calc(100%);
  width: 5px;
  background: #f2897f;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table td:after {
  position: absolute;
  bottom: -3px;
  left: 0px;
  display: block;
  content: "";
  width: calc(100%);
  height: 5px;
  background: #f2897f;
}
.performance-comment-other__inner .performance-comment-other__content {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px ;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: #f0f0f0;
  height: 250px;
  border-radius: 10px;
  padding: 20px 25px;
}
.performance-teacher {
  padding: 40px 0;
}
.performance-teacher ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.performance-teacher ul li {
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
.performance-teacher ul li span.top {
  margin-bottom: 40px;
  display: block;
}
.performance-teacher ul li span.bottom {
  font-weight: bold;
}
.footer {
  position: relative;
}
.footer .performance-footer {
  position: absolute;
  right: 5%;
  bottom: 10%;
}
.footer .performance-footer .box_account {
  text-align: right;
  color: #fff;
  font-size: 28px;
}
.footer .performance-footer .box_account p {
  font-size: 26px;
  line-height: 30px;
}
